.my_panel {
    color: red;
    height: 100vh;
}
.image {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../img/me.jpg");
    height: 100%;
    width: 100%;
}

.left {
    color: #efefef;
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    position: fixed;
  }
  
  .left .bg-img {
    background: url('../img/me.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .left .bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #185a9d;
    background-image: linear-gradient(to left top, #950740, #00BFFF);
    opacity: 0.55;
  }
  
@media screen and (max-width: 400px) {
  .left-inner
  {
    padding: 40px;
  }
}

  .left-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
  }
  
  .left .info {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 50%;
  }



  @media screen and (max-width: 1000px) {
    .left .info {
      margin-top: 300px;
    }
  }

.left .info .name {
  font-weight: 500;
}

.left .info .social-links {
  margin-top: 30px;
}

.left .info .fa {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .left {
    display: block;
    width: 100%;
  }
  .left {
    position: static;
  }
}