.right {
    width: 60%;
    height: 100%;
    min-height: 100vh;
    overflow-Y: scroll;
    vertical-align: top;
    float: right;
    padding-top: 30px;  
    padding-left: 60px;  
    padding-right: 60px;
    background-color: #1a1a1d;
}

.tile-left {
    
}

.tile-right {
    color: #cdcdcf;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to bottom right, #950740, #9c4e6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
}

b{
    text-transform: uppercase;
}


