.right {
    height: 100%;
    min-height: 100vh;
    vertical-align: top;
    padding-top: 30px;  
    padding-left: 60px;  
    padding-right: 60px;
    background-color: #1a1a1d;
}



.tile-right {
    color: #cdcdcf;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to bottom right, #950740, #9c4e6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
}

b{
    text-transform: uppercase;
}
a.resume {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0px;
    background-color: #1a1a1d;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .right a.resume:hover {
    background-color: #1a1a1d;
  }
  
  .right a.resume .resume-link {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #2A54F5;
    background-image: -webkit-linear-gradient(45deg,#00BFFF 0%,#950740 100%);
    background-image: linear-gradient(45deg,#00BFFF 0%,#950740 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  


